body {
  background-color: rgb(98, 153, 234);
}

p {
  font-family: Arial;
  text-align: center;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 50px;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgb(0, 0, 0, 0.5);
  margin: 50px 0 10px 0;
}

.howToPlay-button-design {
  background-color: transparent;
  color: white;
  font-family: Arial;
  border: 2px solid white;
  border-radius: 10px;
  padding: 7px 12px;
  margin-bottom: 10px;
  cursor: pointer;
}

.howToPlay-button-design:hover {
  background-color: rgb(71, 134, 229);
}

.modal {
  display: none; /* Hidden */
  position: fixed; /* Stay in place */
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Evable to scroll if needed */
  /* background-color: transparent; */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modal-rules {
  background-color: white;
  margin: 160px auto; /* 15% from top and centered */
  padding: 5px 20px 20px 20px;
  border: none;
  border-radius: 10px;
  width: 70%;
}

.close {
  color: rgb(98, 153, 234);
  float: right; 
  padding-top: 1px;
  font-size: 38px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.rules-text {
  color: rgb(69, 132, 226);
  font-family: Arial;

  margin: 0 20px 20px 20px;
}

.rules {
  font-size: 12px;
  width: 1000px;
  line-height: 1.5;
}

.main-rules {
  font-weight: 700;
  text-decoration: underline;
}

.button-container {
  text-align: center;
  margin: 20px 0 10px 0;
}

.button-for-play {
  display: align-block;
  margin: 0 35px 0 0;
  background-color: white;
  height: 150px;
  width: 150px;
  border: none;
  border-radius: 17px;
  box-shadow: 2px 7px 10px rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

.button-for-play:hover {
  background-color: rgb(241, 252, 255);
}

.button-for-play:active {
  transform: scale(0.98);
  background-color: rgb(241, 252, 255);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.button-icon {
  height: 100px;
}

.result {
  font-size: 30px;
  font-weight: 700;
  margin: 20px 0 0 0;
}

.moves {
  margin: none;
  font-size: 15px;
  text-align: center;
}

.result-icon {
  background-color: white;
  padding: 6px;
  border-radius: 5px;
  width: 24px;
  margin: 0 3px -11px 3px;
}

.score {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}

.reset-button {
  color: rgb(98, 153, 234);
  font-weight: 700;
  font-size: 14px;
  background-color: white;
  height: 40px;
  width: 150px;
  border: none;
  border-radius: 17px;
  box-shadow: 2px 7px 10px rgb(0, 0, 0, 0.2);
  cursor: pointer;
}

.reset-button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.close_container {
  display: flex;
  justify-content: flex-end;
}